# 라이다
KERNEL=="loop*", SUBSYSTEM=="block", ATTR{loop/backing_file}=="*lidar.img", SYMLINK+="robot_lidar", MODE="0666"

# IMU
KERNEL=="loop*", SUBSYSTEM=="block", ATTR{loop/backing_file}=="*imu.img", SYMLINK+="robot_imu", MODE="0666"

